        *
         {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }
        body {
            color: rgb(255, 255, 255);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: linear-gradient(to bottom, #60B5FF, #FFFFFF);
        }
        .login-container {
            background: #3d5a80;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.884);
            text-align: center;
            width: 350px;
         
            }
        h2 {
            margin-bottom: 20px;
        }
        input {
            width: 100%;
            padding: 12px;
            margin: 10px 0;
            border: 2px solid #293241;
            border-radius: 8px;
            font-size: 16px;
            outline: none;
            background: #333;
            color: white;
            transition: 0.3s;
        }
        input:focus {
            border-color: #0004ff;
            background: #444;
        }
        button {
            width: 100%;
            padding: 12px;
            margin-top: 10px;
            border: none;
            border-radius: 8px;
            background: #2bb0d8;
            color: white;
            font-size: 18px;
            cursor: pointer;
            transition: 0.3s;
        }
        button:hover {
            background: #8d99ae;
        }
        .register-link {
            margin-top: 15px;
            font-size: 14px;
        }
        .register-link a {
            color: white  ;
            text-decoration: none;
        }
        .register-link a:hover {
            text-decoration: underline;
        }
        p {
            color: #023047;
        }


        @media (max-width: 480px) {
            .login-container {
              width: 90%;
              padding: 30px 20px;
            }
          
            input, button {
              font-size: 14px;
              padding: 10px;
            }
          
            h2 {
              font-size: 20px;
            }
          }
          
    